
@{
    ViewBag.Title = "Index";
}
@Html.Partial("BannerPartial")
<div class="main">
    <div class="about_grid1">
        <div class="container">
            <div class="col-md-6 row_1">
                <h1>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</h1>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                <img src="images/pic1.jpg" class="img-responsive" alt="" />
            </div>
            <div class="col-md-6 row_2">
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences.</p>
                <p class="para">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt </p>
                <h2><span class="m_2">Who</span> we are</h2>
                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue;</p>
                <ul class="marked-list">
                    <li> Morbi nunc odio, gravida at cursus nec</li>
                    <li> Maecenas tristique orci ac sem</li>
                    <li> Duis ultricies pharetra magna donec</li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    @*<div class="about_grid2">
        <div class="container">
            <h2 class="tz-title-2">Testimonials</h2>
            <div class="col-sm-3 row_2">
                <p><a href="#">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</a></p>
                <h4>like Aldus</h4>
                <a class="test-url" href="http://demolink.org">http://demolink.org</a>
            </div>
            <div class="col-sm-3 row_2">
                <p><a href="#">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</a></p>
                <h4>like Aldus</h4>
                <a class="test-url" href="http://demolink.org">http://demolink.org</a>
            </div>
            <div class="col-sm-3 row_2">
                <p><a href="#">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</a></p>
                <h4>like Aldus</h4>
                <a class="test-url" href="http://demolink.org">http://demolink.org</a>
            </div>
            <div class="col-sm-3 row_2">
                <p><a href="#">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,</a></p>
                <h4>like Aldus</h4>
                <a class="test-url" href="http://demolink.org">http://demolink.org</a>
            </div>
            <div class="clearfix"> </div>
            <div class="but1"> <a href="#" class="btn btn-primary btn2 btn-normal btn-inline " target="_self">More Testimonials</a></div>
        </div>
    </div>*@
    <div class="about_grid1">
        <h2 class="tz-title-2">Meet Us</h2>
        <div class="container">
            <div class="about-grids">
                <div class="col-sm-3 about-grid">
                    <a href="images/pic3.jpg" title="name" rel="title2">
                        <div class="view view-first">
                            <img src="images/pic3.jpg" class="img-responsive" alt="" />
                        </div>
                    </a>
                    <h3><a href="#">Duis autem</a></h3>
                    <p class="service_desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                    <a href="#" class="btn_2" title="Lewis Tompson">more</a>
                </div>
                <div class="col-sm-3 about-grid">
                    <a href="images/pic4.jpg" title="name" rel="title2">
                        <div class="view view-first">
                            <img src="images/pic4.jpg" class="img-responsive" alt="" />
                        </div>
                    </a>
                    <h3><a href="#">Duis autem</a></h3>
                    <p class="service_desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                    <a href="#" class="btn_2" title="Lewis Tompson">more</a>
                </div>
                <div class="col-sm-3 about-grid">
                    <a href="images/pic5.jpg" title="name" rel="title2">
                        <div class="view view-first">
                            <img src="images/pic5.jpg" class="img-responsive" alt="" />
                        </div>
                    </a>
                    <h3><a href="#">Duis autem</a></h3>
                    <p class="service_desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                    <a href="#" class="btn_2" title="Lewis Tompson">more</a>
                </div>
                <div class="col-sm-3 about-grid">
                    <a href="images/pic6.jpg" title="name" rel="title2">
                        <div class="view view-first">
                            <img src="images/pic6.jpg" class="img-responsive" alt="" />
                        </div>
                    </a>
                    <h3><a href="#">Duis autem</a></h3>
                    <p class="service_desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                    <a href="#" class="btn_2" title="Lewis Tompson">more</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    @Html.Partial("FooterPartial")
</div>