@using MusicMall.Models;
@model MusicMall.Models.t_pay
@{
    ViewBag.Title = "Edit";
}


<div class="x-body">
    <form class="layui-form">
        <input type="hidden" value="@Model.id" />
        <div class="layui-form-item">
            <label for="price" class="layui-form-label">
                <span class="x-red">*</span>名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="price" name="price" required="" lay-verify="nubmer"
                       autocomplete="off" class="layui-input" value="@Model.price">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>登陆账号
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" lay-submit="">
                修改用户
            </button>
        </div>

    </form>
</div>
<script>
layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;

          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return '昵称至少得5个字符啊';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
          });

          //监听提交
          form.on('submit(add)', function(data){
            console.log(data);
              //发异步
              $.post('@Url.Action("Edit")', data.field, function (result) {
                  if (result.State == "ok") {
                      layer.alert("修改成功", { icon: 6 }, function () {
                          // 获得frame索引
                          var index = parent.layer.getFrameIndex(window.name);
                          //关闭当前frame
                          parent.layer.close(index);
                      });
                  }
                  else {
                      layer.alert(result.Message, { icon: 5 }, function (index) {
                          layer.close(index);
                      });
                  }
              });


            return false;
          });


        });</script>




