
@{
    ViewBag.Title = "Index";
}
@Html.Partial("BannerPartial")

<div class="main">
    <div class="about_grid1">
        <div class="container">
            <div class="album_1">
                <div class="col-md-4 album_5">
                    <div class="col_1_of_2 span_1_of_2">
                        <img src="images/pic7.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="col_1_of_2 span_1_of_2">
                        <h3><a href="#">album name</a></h3>
                        <p>Type: live</p>
                        <p>Format: cd</p>
                        <p>Label: atque corrupti</p>
                        <p>Release date: 10.07.2015</p>
                    </div>
                    <div class="clearfix"> </div>
                    <p class="off1">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas </p>
                </div>
                <div class="col-md-4 album_5">
                    <div class="col_1_of_2 span_1_of_2">
                        <img src="images/pic8.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="col_1_of_2 span_1_of_2">
                        <h3><a href="#">album name</a></h3>
                        <p>Type: live</p>
                        <p>Format: cd</p>
                        <p>Label: blanditiis</p>
                        <p>Release date: 08.07.2015</p>
                    </div>
                    <div class="clearfix"> </div>
                    <p class="off1">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas </p>
                </div>
                <div class="col-md-4 album_5">
                    <div class="col_1_of_2 span_1_of_2">
                        <img src="images/pic9.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="col_1_of_2 span_1_of_2">
                        <h3><a href="#">album name</a></h3>
                        <p>Type: live</p>
                        <p>Format: cd</p>
                        <p>Label: voluptatum</p>
                        <p>Release date: 06.10.2015</p>
                    </div>
                    <div class="clearfix"> </div>
                    <p class="off1">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="album_3">
                <div class="col-md-4 album_5">
                    <div class="col_1_of_2 span_1_of_2">
                        <img src="images/pic10.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="col_1_of_2 span_1_of_2">
                        <h3><a href="#">album name</a></h3>
                        <p>Type: live</p>
                        <p>Format: cd</p>
                        <p>Label: qui blanditiis</p>
                        <p>Release date: 07.09.2015</p>
                    </div>
                    <div class="clearfix"> </div>
                    <p class="off1">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas </p>
                </div>
                <div class="col-md-4 album_5">
                    <div class="col_1_of_2 span_1_of_2">
                        <img src="images/pic11.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="col_1_of_2 span_1_of_2">
                        <h3><a href="#">album name</a></h3>
                        <p>Type: live</p>
                        <p>Format: cd</p>
                        <p>Label: At vero</p>
                        <p>Release date: 06.09.2015</p>
                    </div>
                    <div class="clearfix"> </div>
                    <p class="off1">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas </p>
                </div>
                <div class="col-md-4 album_6">
                    <div class="col_1_of_2 span_1_of_2">
                        <img src="images/pic12.jpg" class="img-responsive" alt="" />
                    </div>
                    <div class="col_1_of_2 span_1_of_2">
                        <h3><a href="#">album name</a></h3>
                        <p>Type: live</p>
                        <p>Format: cd</p>
                        <p>Label: Many desktop</p>
                        <p>Release date: 06.08.2015</p>
                    </div>
                    <div class="clearfix"> </div>
                    <p class="off1">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="album_2">
                <div class="col-md-4 album_5">
                    <ul class="music-list">
                        <h3>Track Listing</h3>
                        <li class="skin1">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            There are variation
                        </li>
                        <li class="skin2">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            anything embarrassing
                        </li>
                        <li class="skin1">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            Lorem Ipsum
                        </li>
                        <li class="skin2">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            looks reasonable
                        </li>
                        <li class="skin1">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            Praesent Vestibulum
                        </li>
                        <li class="skin2">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            English versions
                        </li>
                        <li class="skin1">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            craesent Vestibulum
                        </li>
                        <li class="skin2">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            traesent Vestibulum
                        </li>
                        <li class="skin1">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            fraesent Vestibulum
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 album_5">
                    <ul class="music-list">
                        <h3>Track Listing</h3>
                        <li class="skin1">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            graesent Vestibulum
                        </li>
                        <li class="skin2">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            traesent Vestibulum
                        </li>
                        <li class="skin1">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            Praesent Vestibulum
                        </li>
                        <li class="skin2">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            Praesent Vestibulum
                        </li>
                        <li class="skin1">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            therefore always
                        </li>
                        <li class="skin2">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            The standard
                        </li>
                        <li class="skin1">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            handful of model
                        </li>
                        <li class="skin2">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            Praesent Vestibulum
                        </li>
                        <li class="skin1">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            Ipsum passage
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 album_6">
                    <ul class="music-list">
                        <h3>Track Listing</h3>
                        <li class="skin1">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            embarrassing hidden
                        </li>
                        <li class="skin2">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            non-characteristic
                        </li>
                        <li class="skin1">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            Sed ut perspiciatis
                        </li>
                        <li class="skin2">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            But I must explain
                        </li>
                        <li class="skin1">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            At vero eos et
                        </li>
                        <li class="skin2">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            On the other hand
                        </li>
                        <li class="skin1">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            Praesent Vestibulum
                        </li>
                        <li class="skin2">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            righteous indignation
                        </li>
                        <li class="skin1">
                            <a class="dlw-btn1" href="#"><i class="fa fa-headphones"></i></a>
                            <a class="dlw-btn" href="#"><i class="fa fa-music"></i></a>
                            Praesent Vestibulum
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    @Html.Partial("FooterPartial")
</div>

