
@{
    ViewBag.Title = "Edit";
}

<div class="x-body">
    <form method="post" class="layui-form">
        <input type="hidden" name="id" value="@Model.id"/>
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>登录名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="username" required="" lay-verify="required"
                       autocomplete="off" value="@Model.name" class="layui-input" disabled="disabled">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>将会成为您唯一的登入名
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_pass" class="layui-form-label">
                <span class="x-red">*</span>旧密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="OriginalPassword" name="OriginalPassword" required="" lay-verify="opass"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                6到16个字符
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_pass" class="layui-form-label">
                <span class="x-red">*</span>新密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="L_pass" name="newPassword" required="" lay-verify="pass"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                6到16个字符
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
                <span class="x-red">*</span>确认新密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="L_repass" name="newPassword2" required="" lay-verify="repass"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="add" lay-submit="">
                修改
            </button>
        </div>
    </form>
</div>
<script>
    $(function () {
        layui.use('form', function () {
            var form = layui.form
                , layer = layui.layer;

            //自定义验证规则
            form.verify({
                L_pass: [/(.+){6,12}$/, '密码必须6到12位'],
                L_repass: function (value) {
                    if ($('#L_pass').val() != $('#L_repass').val()) {
                        return '两次密码不一致';
                    }
                }
            });

            //监听提交
            form.on('submit(add)', function (data) {
                //发异步
                $.post("@Url.Action("edit")", data.field, function (result) {
                    if (result.State == "ok") {
                        layer.alert("修改成功", { icon: 6 }, function () {
                            // 获得frame索引
                            //var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            //parent.layer.close(index);
                            location.reload();
                        });
                    }
                    else {
                        layer.alert(result.Message, { icon: 5 }, function () { 
                            
                        });
                    }
                });
                return false;
            });

        });
    });
    
</script>

